@use "../base/colors";
@use "../base/font";
@use "../base/variables";
@use "../mixins/css3";

.page-loader-wrapper {
  text-align: center;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: colors.$gray-100;
  display: flex;

  .loader {
    position: relative;
    top: calc(40% - 30px);
    justify-content: center;
    width: 100%;
  }

  img {
    width: 38px;
    height: 38px;
  }
}

.dropify-wrapper {
  border-width: 1px;
  border-color: colors.$gray-100;
}

.new_timeline {
  @extend .margin-0 !optional;
  padding: 0 0 0 5px;
  list-style: none;
  position: relative;

  &::before {
    background-color: colors.$gray-200;
    content: ' ';
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
  }

  > li {
    @extend .pb-25 !optional;
    @extend .pl-20 !optional;

    &:last-child {
      @extend .pb-0 !optional;
    }
  }

  .bullet {
    @include css3.border-radius(10px);
    @extend .mt-5 !optional;
    background: colors.$white;
    left: 5px;
    width: 10px;
    height: 10px;
    z-index: 2;
    position: absolute;
    border: 2px solid;

    &.pink {
      border-color: colors.$blush;
    }

    &.green {
      border-color: colors.$green;
    }

    &.orange {
      border-color: colors.$orange;
    }
  }

  .time {
    @extend .font-12 !optional;
  }

  h3 {
    @extend .font-15 !optional;
    @extend .margin-0 !optional;
    font-weight: font.$font-weight-600;
  }

  h4 {
    @extend .pb-10 !optional;
    @extend .font-13 !optional;
    font-weight: font.$font-weight-400;
    color: colors.$gray-600;
  }
}

.team-info {
  @extend .mt-5 !optional;

  li {
    @include css3.transition(all .3s ease-in-out);
    display: inline-block;

    & + li {
      margin-left: -10px;
    }

    img {
      width: 32px;
      @include css3.border-radius(50%);
      border: 2px solid colors.$white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }

    &:hover {
      -webkit-transform: translateY(-4px) scale(1.02);
      -moz-transform: translateY(-4px) scale(1.02);
      -ms-transform: translateY(-4px) scale(1.02);
      -o-transform: translateY(-4px) scale(1.02);
      transform: translateY(-4px) scale(1.02);
      z-index: 999;

      img {
        -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
        box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
      }
    }
  }
}

.taskboard {
  .dd-handle {
    @include css3.transition(all .4s ease-in-out);
    @include css3.border-radius(3px);
    color: colors.$gray-600;
    padding: 20px;
    position: relative;

    &::after {
      @extend .font-15 !optional;
      content: "\f02e";
      font-family: "FontAwesome";
      position: absolute;
      top: -5px;
      right: 20px;
    }

    &:hover {
      color: colors.$gray-800;
    }

    h6 {
      @extend .mb-0 !optional;
      font-weight: font.$font-weight-600;
    }

    .time {
      @include css3.display-block;
    }

    p {
      @extend .font-15 !optional;
      @extend .mt-10 !optional;
    }

  }

  .planned_task {
    .dd-handle {
      &::after {
        color: colors.$info;
      }

      &:hover {
        border-color: colors.$info;
      }
    }
  }

  .progress_task {
    .dd-handle {
      &::after {
        color: colors.$warning;
      }

      &:hover {
        border-color: colors.$warning;
      }
    }
  }

  .completed_task {
    .dd-handle {
      &::after {
        color: colors.$success;
      }

      &:hover {
        border-color: colors.$success;
      }
    }
  }

  .dd-item {
    &:hover {
      cursor: move;
    }

    > button {
      margin: 19px 0 9px 9px;

      &:before {
        z-index: 1;
      }
    }
  }
}

.table_e2 {
  img {
    width: 35px;
  }

  .c_name {
    @extend .ml-15 !optional;
    font-weight: font.$font-weight-700;
  }
}

.w_color {
  div {
    height: 25px;
    width: 25px;
  }
}

.modal {
  .modal-header {
    .close:before {
      display: none;
    }
  }
}

.ribbon {
  position: relative;

  .ribbon-box {
    color: colors.$white;
    right: auto;
    left: 0;
    top: 15px;
    position: absolute;
    height: 32px;
    width: 30px;
    text-align: center;
    line-height: 32px;

    &::before {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      content: '';
      top: 0;
      right: -8px;
      height: 32px;
      border: 16px solid;
      border-left-width: 0;
      border-right-width: 8px;

    }

    &.green {
      background: colors.$green;

      &::before {
        border-color: colors.$green;
        border-right-color: transparent;
      }
    }

    &.cyan {
      background: colors.$cyan;

      &::before {
        border-color: colors.$cyan;
        border-right-color: transparent;
      }
    }

    &.pink {
      background: colors.$pink;

      &::before {
        border-color: colors.$pink;
        border-right-color: transparent;
      }
    }

    &.orange {
      background: colors.$orange;

      &::before {
        border-color: colors.$orange;
        border-right-color: transparent;
      }
    }

    &.info {
      background: colors.$info;

      &::before {
        border-color: colors.$info;
        border-right-color: transparent;
      }
    }

    &.indigo {
      background: colors.$indigo;

      &::before {
        border-color: colors.$indigo;
        border-right-color: transparent;
      }
    }
  }
}

.box-icon {
  &.sm {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  &.md {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  &.lg {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  i {
    color: colors.$white;
    font-size: variables.$font-size + 3px;
  }
}

.my_sort_cut {
  padding-top: 15px;
  min-height: 80px;
  display: block;
  text-align: center;

  i {
    font-size: variables.$font-size + 15px;
    @include css3.transition(font-size 0.2s);
  }

  span {
    display: block;
  }
}